@{
     List<AfricanShopLviv.BLL.DTO.CartDto> list = ViewBag.Cart;


    <div style="opacity:0.97;display:block;overflow:auto;margin-top:50px" id="cart" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4">
            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('cart').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <h2 style="text-align:center;font-family:'Palatino Linotype'">*** Your Shopping Cart ***</h2>
            </header>
            <div class="w3-container">
                @if (ViewBag.IsEmptyCart == true)
                {
                    <h3 style="color:red;font-family:'Palatino Linotype';text-align:center;padding:75px">
                        Your Cart is Empty... Try to add some products!
                    </h3>
                }
                else
                {
                    <form action="~/Home/CartUpdate" method="post" style="padding-top: 2px; padding-bottom: 2px ">
                        <div class="modal-content">
                            <div class="modal-body" style="overflow:auto">
                                <table class="table table-light table-hover" style="overflow:auto">
                                    <thead>
                                        <tr style="text-align:center">
                                            <th scope="col">Photo</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in list)
                                    {                                        
                                        var photo = "~/Images/Products/"+item.ProductPhoto;
                                        <tbody>
                                            <tr style="text-align:center">
                                                <td scope="row">
                                                    <img width="40" height="40" src="@Url.Content(photo)" onclick="document.getElementById('photo').style.display='block'"
                                                         class="" alt="Sheep" />
                                                </td>
                                                <td scope="row"><span name="prName">@item.ProductName</span></td>
                                                <td scope="row"><span name="prc">@item.Price</span>  грн</td>
                                                <td class="qty"><input type="number" id="product-quantity" name="product-quantity" min="1" max="999" value="1" /></td>
                                                <td scope="row"><span name="total">@item.ItemsPrice</span> грн</td>
                                                <td>
                                                    @Html.ActionLink("X", "DeleteItem", "Home", new { cartSelected = item.Id }, new { @class = "btn btn-danger btn - sm" })
                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                                </table>
                                <div class="d-flex justify-content-end">
                                    <h5>Total: <span class="price text-success">
                                        @AfricanShopLviv.PL.Controllers.HomeController.TotalSum UAH.
                                         </span></h5>
                                </div>
                            </div>
                            <div class="modal-footer border-top-0 d-flex justify-content-between">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="document.getElementById('cart').style.display='none'">
                                    Close
                                </button>

                                <span onclick="document.getElementById('id01').style.display='block'"
                                          class="btn btn-success">Checkout</span>
                              
                            </div>
                        </div>
                    </form>
                }
            </div>
            <script>
                $(":input").bind('keyup mouseup', function () {
                    var prName = document.getElementById("prName");
                    var quantity = document.getElementById("product-quantity");
                    var comment = document.getElementById("comment");

                    var CartDto = { prName: prName, quantity: product - quantity };
                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: '/Home/CartUpdate',
                        data: CartDto
                    });
                    alert("changed");
                });
            </script>
            <footer style="text-align:center" class="w3-container w3-teal">
                <h5 style="font-family:'Palatino Linotype';font-weight:bold">MAOTS ent Best Buy Online</h5>
            </footer>
        </div>
    </div>

    <!-- Info 'bout the client: -->
    <div class="w3-container" style="margin-top: 50px">
        <div style="opacity:0.97;" id="id01" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom w3-card-4">
                <header class="w3-container w3-teal">
                    <span onclick="document.getElementById('id01').style.display='none'"
                          class="w3-button w3-display-topright">&times;</span>
                    <h2 style="text-align:center;font-family:'Palatino Linotype'"> Fill In Your Data Or Register </h2>
                </header>
                <div class="w3-container">
                    <form action="~/Home/SendMessage" method="post" style="padding:50px">
                        <input name="message" style="margin-bottom:5px" type="text" value="MakeOrder" class="form-control" hidden />
                        <input name="userName" style="margin-bottom:5px" type="text" class="form-control" placeholder="Your Name And Surname:" required />
                        <input name="email" style="margin-bottom:5px" type="email" class="form-control" placeholder="Your Email:" required />
                        <input name="phone" style="margin-bottom:5px" type="tel" class="form-control" placeholder="Your Phone:" required />
                        <input name="comment" style="margin-bottom:5px" type="text" class="form-control" placeholder="Delivery Address:" required />
                        <br />
                        <div style="width:90px;margin:auto">
                            <input class="btn btn-primary" type="submit" value="Make Order" />
                        </div>
                    </form>
                </div>
                <footer style="text-align:center" class="w3-container w3-teal">
                    <h5 style="font-family:'Palatino Linotype';font-weight:bold">MAOTS ent Best Buy Online</h5>
                </footer>
            </div>
        </div>
        <script>
            var isOrder = doc.getElementById("message");
            var phone = document.getElementById("phone");
            var userName = document.getElementById("userName");
            var email = document.getElementById("email");
            var comment = document.getElementById("comment");

            var mailInfo = { isOrder: message, mail: email, name: userName, phn: phone, commt: comment };
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/Home/SendMessage',
                data: mailInfo,
                success: function (result) {
                    alert(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        </script>

        <!-- For Quantity: -->
        <script>
            $(function () {
                $('#quantity').on('keyup', function () {
                    // if input value is changed, run the ajax call here
                    var qty = doc.getElementById("quantity").value;
                    var price = document.getElementById("prc").value;
                    var total = document.getElementById("total").value;
                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: '/Home/SendMessage',
                        data: mailInfo,
                        success: function (result) {
                            alert(result);
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    })
                })
            })
        </script>
    </div>
}



