@model PagedList.IPagedList<AfricanShopLviv.BLL.DTO.ProductDto>
@using PagedList.Mvc;

<link href="~/Content/prodList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" media="screen and (max-width: 600px)" href="~/Content/prodList.css">

@{
    ViewBag.Title = "Main Page";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@if (ViewBag.IsCart == true)
{
    Html.RenderPartial("~/Views/PartialViews/CartPart.cshtml", (List<AfricanShopLviv.BLL.DTO.CartDto>)ViewBag.Cart);
    AfricanShopLviv.PL.Controllers.HomeController.IsCart = false;
}

<!-- Modals form js 'Write Us' & 'Call Back' -->
<div class="w3-container">
    <div class="row">
        <div class="col" style="text-align:center">
            <button style="font-family: 'Palatino Linotype'" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Write Us</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button style="font-family: 'Palatino Linotype'" onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-black">Call Back</button>
        </div>
    </div>
    <div style="opacity:0.97;margin-top:66px" id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4">
            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('id01').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <h2 style="text-align:center;font-family:'Palatino Linotype'">Write Us</h2>
            </header>
            <div class="w3-container">
                <form action="~/Home/SendMessage" method="post" style="padding:50px">
                    <input name="userName" style="margin-bottom:5px" type="text" class="form-control" placeholder="Your Name:" required />
                    <input name="email" style="margin-bottom:5px" type="email" class="form-control" placeholder="Your Email:" required />
                    <input name="phone" style="margin-bottom:5px" type="tel" class="form-control" placeholder="Your Phone:" required />
                    <div class="form-outline">
                        <textarea name="comment" placeholder="Comments" class="form-control" rows="4" required></textarea>
                    </div>
                    <br />
                    <div style="width:90px;margin:auto">
                        <input class="btn btn-primary" type="submit" value="Send" />
                    </div>
                </form>
            </div>
            <footer style="text-align:center" class="w3-container w3-teal">
                <h5 style="font-family:'Palatino Linotype';font-weight:bold">MAOTS ent Best Buy Online</h5>
            </footer>
        </div>
    </div>
    <script>
        var phone = document.getElementById("phone");
        var userName = document.getElementById("userName");
        var email = document.getElementById("email");
        var comment = document.getElementById("comment");
        var mailInfo = { mail: email, name: userName, phn: phone, commt: comment };
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/Home/SendMessage',
            data: mailInfo,
            success: function (result) {
                alert(result);
            },
            error: function (err) {
                alert(err.statusText);
            });
});
    </script>
    <div style="opacity: 1.97; margin-top: 50px" id="id02" class="w3-modal">
        <div class="w3-modal-content w3-animate-opacity w3-card-4">
            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('id02').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <h2 style="text-align:center;font-family:'Palatino Linotype'">Call Back</h2>
            </header>
            <div class="w3-container">
                <form action="~/Home/SendMessage" method="post" style="padding:50px">
                    <input name="userName" style="margin-bottom:5px" type="text" class="form-control" placeholder="Your Name:" required />
                    <input name="email" style="margin-bottom:5px" type="email" class="form-control" placeholder="Your Email:" required />
                    <input name="phone" style="margin-bottom:5px" type="tel" class="form-control" placeholder="Your Phone:" required />
                    <div class="form-outline">
                        <textarea name="comment" placeholder="Comments" class="form-control" rows="4" required></textarea>
                    </div>
                    <br />
                    <div style="width:90px;margin:auto">
                        <input class="btn btn-primary" type="submit" value="Send" />
                    </div>
                </form>
            </div>
            <footer style="text-align:center" class="w3-container w3-teal">
                <h5 style="font-family:'Palatino Linotype';font-weight:bold">MAOTS ent Best Buy Online</h5>
            </footer>
        </div>
    </div>
</div>

@if (ViewBag.IsModal == true)
{
    <div style="" class="alert alert-success alert-dismissible">
        <a href="~/Home/CloseAlerts" class="close" data-dismiss="alert" style="text-decoration: none;text-align:right; font-size: large; color: #82822f"
           aria-label="close">&times;</a>
        <h4 style="text-align:center;color:brown;font-family:'Palatino Linotype';font-weight:bold">
            @ViewBag.ModalMsg
        </h4>
    </div>
}

<!-- List of Categories: -->
@using (Html.BeginForm("MainPage", "Home", FormMethod.Post))
{
    <div class="row" style="">
        <div class="col-sm-3" style="height: auto; background-image: linear-gradient(yellow,navajowhite, transparent, yellow) ">
            <a href="#">
                <img src="~/Logo/addrTop.svg" style="width:100%" />
            </a>
            <p style="font-weight:bold;font-family:'Palatino Linotype';font-size:xx-large">
                <span style="opacity:0.5">38 (063)</span> 4392871
            </p>
            <div class="col">
                <button type="button" class="categToggle"
                        data-bs-toggle="collapse"
                        data-bs-target="#categoryColase">
                    Expand List Of Categories
                </button>
            </div>

            <div class="collapse navbar-collapse" id="categoryColase" style="text-align:center">
                <div class="d-flex" style="width: 100%" id="wrapper">
                    <div style="width: 100%" class="list-group list-group-item-heading">
                        @Html.ActionLink("All Categories", "", "", new { param = "AllCategoryPart" }, new { id = "btnCateg", style = "background-color:black;color:red", @class = "btn btn-default" })
                        @foreach (var item in ViewBag.Categories)
                        {
                            <button id="btnCateg" class="btn btn-default" name="btn-@item.TagName">
                                @item.Name
                            </button>
                        }
                    </div>
                </div>
            </div>

            <div class="" style="">
                <hr />
                <a href="https://www.facebook.com/African-Shop-LVIV-UA-641011469316068/timeline/">
                    <img src="@Url.Content("~/Logo/facebook.jpg")" style="width:100%" />
                </a>
                <hr />
            </div>

            <!-- Contacts: -->
            <header style="">
                <h3>
                    <a style="padding: 6px;font-weight:bold; font-family: 'Times New Roman', Times, serif; font-size: larger; color: saddlebrown" href="#">
                        Contacts
                    </a>
                </h3>
            </header>
            <div style="width:100%" class="col-sm-3">
                <hr />
                <ul class="list-group">
                    <li class="list-group-item" id="l1">
                        <i class="bi bi-geo-alt" style="border-radius:53px;padding:7px;background-color:azure"></i>
                        <span class="">
                            <span class="">Ukraine, Lviv Address : Lychakivska, 31 str. /  Ternopil Address: Stadnykova 2a</span>
                        </span>
                    </li>
                    <li class="list-group-item" id="l2">
                        <i style="border-radius:53px;padding:7px;background-color:azure" class="bi bi-telephone-inbound"></i>
                        <a class="" href="tel:380634392871">
                            38 (063) 4392871
                        </a>
                    </li>
                    <li class="list-group-item" id="l3">
                        <i style="border-radius:53px;padding:7px;background-color:azure" class="bi bi-alarm"></i>
                        <span>Lviv shop Mon - Fri 10am - 6 pm, Ternopil Shop 10:30 am - 8 pm</span>
                        <span>Saturday 11am-5pm</span>
                        <span>Sunday - day off</span>
                    </li>
                    <li class="list-group-item" id="l4">
                        <i style="border-radius:53px;padding:7px;background-color:azure" class="bi bi-envelope-paper"></i>
                        <a href="mailto:africanshoplviv@gmail.com" target="_blank"><small>africanshoplviv@gmail.com</small></a>
                    </li>
                    <li class="list-group-item" id="l5">
                        <i style="border-radius:53px;padding:7px;background-color:azure" class="bi bi-whatsapp">
                        </i>
                        <a href="https://wa.me/063439287" target="_blank">+38 063 4392871</a>
                    </li>
                </ul>
                <hr />
            </div>

            <!-- Social networks: -->
            <header>
                <h3>
                    <a style="font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: larger;color:black" href="#">
                        Social networking
                    </a>
                </h3>
            </header>
            <div style="border-radius:6px;width:100%" class="col-sm-3">
                <hr />
                <div style="display:inline-block;margin-left:10px">
                    <div class="w3-button w3-animate-opacity" style="display: inline-block; border-radius: 50px;margin-left:-15px">
                        <a target="_blank" class="" rel="nofollow" href="http://www.facebook.com/African-Shop-LVIV-UA-641011469316068/timeline/">
                            <img src=@Url.Content("~/Logo/SocialNtwk/facebook.png") width="40" height="40" />
                        </a>
                    </div>
                    <div class="w3-button w3-animate-opacity" style="display: inline-block; border-radius: 50px; margin-left: -15px ">
                        <a target="_blank" class="" rel="nofollow" href="https://instagram.com/p/90rOPNoOw_/">
                            <img src=@Url.Content("~/Logo/SocialNtwk/instagram.png") width="40" height="40" />
                        </a>
                    </div>

                    <div class="w3-button w3-animate-opacity" style="display: inline-block; border-radius: 50px; margin-left: -15px ">
                        <a target="_blank" class="" rel="nofollow" href="https://wa.me/0634392871">
                            <img src=@Url.Content("~/Logo/SocialNtwk/whatsapp.png") width="40" height="40" />
                        </a>
                    </div>

                    <div class="w3-button w3-animate-opacity" style="display: inline-block; border-radius: 50px; margin-left: -15px ">
                        <a target="_blank" class="" rel="nofollow" href="viber://public?id=0634392871">
                            <img src=@Url.Content("~/Logo/SocialNtwk/viber.png") width="40" height="40" />
                        </a>
                    </div>
                </div>
                <hr />
            </div>

            <!-- Register Now gif: -->
            @*<div style="border-radius:6px;width:100%" class="col-sm-3">
            <hr />
            <a href="/Account/Register">
                <img src="@Url.Content("~/Images/registernow.gif")" width="100%" />
            </a>
            <hr />
        </div>*@

            <!-- Contact Us gif: -->
            @*<div style="border-radius:6px;width:100%" class="col-sm-3">
            <hr />
            <a href="#"  onclick="document.getElementById('id01').style.display='block'">
                <img src="@Url.Content("~/Images/contactus.gif")" width="100%" />
            </a>
            <hr />
        </div>*@
        </div>

            <!-- RIGHTSIDE BAR: List of the Products, Videos, Contacts, Payment e.t.c -->
            <div class="col-sm-9" style="">
                @*<div class="col" style="text-align:center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                <p style="font-size:70px;font-family: 'Segoe Print';color:green"> African Shop Lviv,UA</p>
                <p style="font-size:70px;font-family: 'Segoe Print';color:red;margin-top:-45px"> Afro Market Ternopil </p>
                <p style="font-size: 70px; font-family: 'Segoe Print'; color: darkorange; margin-top: -45px"> Best Buy Online </p>
                <p style="font-size: 70px; font-family: 'Segoe Print'; color: springgreen; margin-top: -45px">SHOP WITH US!</p>
            </div>*@
                @if (ViewBag.TopMenu == true)
                {
                    string p = "~/Views/PartialViews/" + ViewBag.PartialView + ".cshtml";
                    <div class="col">
                        @Html.Partial(p)
                    </div>
                }
                else if (ViewBag.CategoryPressed == true)
                {
                    <div class="col" style="background-image: src(../../Logo/paper.gif)">
                        <div class="row" style="background-image: linear-gradient(transparent, yellow, blue, transparent) ">
                            <div style="background-color:whitesmoke;padding:9px;color:mediumvioletred;font-weight:bold">
                                <span style="font-family:'Palatino Linotype';font-size:large">
                                    CATEGORIES /
                                    <span style="color:darkorange;font-family:'Segoe Print'"> @ViewBag.CategoryName     </span>
                                </span>
                            </div>
                            @foreach (var product in Model)
                            {
                                string Path = "~/Images/Products/" + product.Photo;
                                <div class="col-md-3" style="margin-top:20px">
                                    <div class="card p-2 col" style="border:1px solid brown;text-align:center">
                                        <div id="phto" style="height:300px;width:100%;border:1px solid silver">
                                            <img src="@Url.Content(Path)"
                                                 style="text-align:center;background-size:cover"
                                                 width="100%" height="100%" alt="Image is Not Opened" />
                                        </div>
                                        <div class="product-details" style="min-height:auto">
                                            <span style="color:mediumblue;font-family:'Palatino Linotype';font-weight:bold" class="font-weight-bold d-block">@product.Price.ToString("c") грн</span>
                                            <div style="word-break: break-all;min-height:80px">@product.Name</div>
                                            <div><small style="color:firebrick">Serial:&nbsp;@product.Code</small></div>
                                            <div class="buttons d-flex flex-row">
                                                <div style="width:20%" class="cart"><i class="fa fa-shopping-cart"></i></div>
                                                <div style="">
                                                    <button style="width:100%" name="btn-@product.Code" class="btn btn-success cart-button btn-block">
                                                        <span class="dot">1</span>Add to cart
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="weight">
                                                @if (product.IsStock == true)
                                                {
                                                    <small style="color:green;font-weight:bold">In Stock</small>
                                                }
                                                else
                                                {
                                                    <small style="color: red; font-weight: bold">Out of stock</small>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount*@
                            @Html.PagedListPager(Model, page => Url.Action("MainPage", new { page }))
                        </div>
                    </div>
                }
            </div>
        </div>
}


<style>
    #l1::marker {
        content: url(../../Logo/Icons/geo-alt.svg);
    }

    #l2::marker {
        content: url(../../Logo/Icons/telephone-outbound.svg);
    }

    #l3::marker {
        content: url(../../Logo/Icons/alarm.svg);
    }

    #l4::marker {
        content: url(../../Logo/Icons/envelope-paper.svg);
    }

    #l5::marker {
        content: url(../../Logo/Icons/whatsapp.svg);
    }
    .categToggle {
        border: 3px solid brown;
        color:gold;
        width: 100%;
        font-family:'Palatino Linotype';
        font-weight:bold;
        font-size:large;
        background-color:brown;
        border-radius:3px
    }
        .categToggle:hover {
            background-color: black;
            border: 3px solid black;
            color: lightgoldenrodyellow;
        }
    #btnCateg {
        /*   border: 2px solid darkorange;*/
        font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif;
        font-weight: bold;
        margin-top: 5px;
        color: black;
        background-color: gold;
    }

        #btnCateg:hover {
            /*         border: 2px solid gold;*/
            background-color: black;
            color: gold;
            /*   font-size: x-large;*/
            /*    font-family: 'Times New Roman';*/
        }

        #btnCateg:active {
            border: 2px solid yellow;
            background-color: yellow;
            color: darkred;
        }

    a {
        color: firebrick;
        text-decoration: none;
        font-size: large;
    }

    #a:hover {
        color: darkred;
    }
</style>


