<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AFRICAN SHOP</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/Content/prodList.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link href="~/Content/css/styles.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body style="background-image:src(../../Images/img/44993423.l2dttf3uz1.jpg)">

    <div class="col-md-pull-2">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:transparent">
            <div class="container-fluid" style="background-color:white">
                @Html.ActionLink("Homepage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id="hompg" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        &nbsp;                        &nbsp;                        &nbsp;                        &nbsp;                        &nbsp;                &nbsp;
                        @Html.ActionLink("Contacts", "MainPage", "Home", new { param = "Contacts" }, new { id = "btn", @class = "nav-item nav-link" })
                        @Html.ActionLink("Delivery", "MainPage", "Home", new { param = "Delivery" }, new { id="btn", @class = "nav-item nav-link" })
                        @Html.ActionLink("Payments", "MainPage", "Home", new { param = "Payments" }, new { id = "btn", @class = "nav-item nav-link" })
                        @Html.ActionLink("Videos", "MainPage", "Home", new { param = "Videos" }, new { id = "btn", @class = "nav-item nav-link" })
                    </div>
                    <div class="navbar-nav ms-auto">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container body-content" style="border:1px solid red">
 
        @RenderBody()
        <br /><br /><br />
        <hr />
        <footer style="text-align:center;font-weight:bold">
            <p>
                &copy; @DateTime.Now.Year - African Shop. Lychakivska 31 str., Lviv, Ua
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .btn-group button {
        background-color: #04AA6D; /* Green background */
        border: 1px solid green; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        width: 50%; /* Set a width if needed */
        display: block; /* Make the buttons appear below each other */
    }

        .btn-group button:not(:last-child) {
            border-bottom: none; /* Prevent double borders */
        }

        /* Add a background color on hover */
        .btn-group button:hover {
            background-color: #3e8e41;
        }









    html {
        height: 100%;
        background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
    }

    nav {
       max-width: 1200px;
        mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
        margin: 0 auto;
        padding: 60px 0;
    }

        nav ul {
            text-align: center;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
        }

    #hompg {
        border-radius: 9px;
        border: 0.1px solid transparent;
        padding: 9px;
        font-weight: bold;
        font-family: Palatino Linotype;
    }
        #hompg:hover {
            border-radius: 9px;
            color:gold;
            padding:9px;
            background-color: #8e44ad;
            border: 0.1px solid #8e44ad;
        }
        #hompg:active {
            border-radius: 9px;
            border: 0.1px solid gold;
            background-color: gold;
            color:black;
        }

    #btn {
        border: 0.1px solid transparent;
        border-radius: 9px;
        font-family: Palatino Linotype;
        font-weight: bold;
    }
        #btn:hover {
            color: white;
            border: 0.1px solid #3498db;
            background-color: #3498db;
            border-radius: 9px;
        }
        #btn:active {
            color: white;
            border: 0.1px solid gold;
            color: red;
            background-color: gold;
            border-radius: 9px;
        }
</style>
